build/
dist/
*.egg-info/
*.ipynb_checkpoints/
__pycache__/

*.so
*.a
*.lib
*.dll
*.dylib
*.out
*.exe

# Don't include anything from the third_party folder, but keep it, as CMake
# handles dependencies and expects this folder to place the downloaded sources
third_party/*
!third_party/CMakeLists.txt
